<div class="uiDeath">
	<div class="msg"></div>
	<div class="penalty"></div>
	<div class="buttons">
		<div class="btn btn-respawn">Respawn</div>
		<div class="btn btn-logout">Log Out</div>
	</div>
</div>
